/* Mobile styles */
body {   
    background-color: #000000;
    overflow-y: auto;
    height: 160vh;
    margin: 0;
    -webkit-overflow-scrolling: touch;
    touch-action: pan-y; /* Уже есть, оставляем */
    -webkit-user-select: none; /* Отключает выделение текста, что может мешать зуму */
    user-select: none; /* Для совместимости */
    -webkit-tap-highlight-color: transparent; /* Убирает подсветку при нажатии */
}
body::-webkit-scrollbar {
    display: none; /* Hide scrollbar for Chrome, Safari, Edge */
}
body {
    -ms-overflow-style: none; /* Hide scrollbar for IE and Edge */
    scrollbar-width: none; /* Hide scrollbar for Firefox */
}
h1 {  
    color: #ffffff;  
    text-align: center;
    font-family: "Rubik Mono One", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: calc(4vh + 1vw);
    text-transform: uppercase;
    padding-top: 50px;
    margin: 0;
}  
p {  
    color: #ffffff;  
    font-size: calc(1.8vh + 0.8vh);  
    text-align: center; 
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal; 
}
.square-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    z-index: 1;
}
.panel {
    width: 105%;
    height: 20vh;
    background-color: #000000;
    position: fixed; /* Use fixed positioning to align with hr */
    bottom: -30px; /* Place below hr (100px from bottom) */
    left: -5px;
    z-index: 11; /* Keep above hr and other elements */
    border: 3px solid rgb(255, 255, 255);
}
.square {
    width: calc(25vh + 1vh);
    height: calc(30vh + 1vh);
    background-color: #ffffff;
    border-radius: 20px;
    z-index: 1;
    position: relative; /* Added to establish a positioning context for the button */
}
.square button {
    font-family: 'Rubik Mono One', monospace;
    background: linear-gradient(135deg, #6e8efb, #a777e3);
    color: #ffffff;
    padding: 8px 0; /* Только вертикальный отступ — горизонтальный регулируется через ширину */
    border: none;
    border-radius: 8px;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
    letter-spacing: 1px;
    position: absolute;
    bottom: 15px; /* Нижний отступ */
    left: 15px;   /* Левый отступ */
    width: calc(100% - 30px); /* Учитываем 15px слева и справа */
    z-index: 2;
}
.square img {
    max-width: 50%; /* Изображение не выходит за рамки */
    height: auto; /* Сохранение пропорций */
    border-radius: 5px; /* Скругление углов изображения */
    transform: translate(50%, 50%);
}
.square:nth-child(-n+4) img {
    transform: translate(10%, 80%); /* Shift button slightly to the left */
    max-width: 40%; /* Изображение не выходит за рамки */
}
.square p {
    background: linear-gradient(135deg, #6e8efb, #a777e3); /* Gradient background */
    -webkit-background-clip: text; /* Clip gradient to text */
    -webkit-text-fill-color: transparent; /* Make text transparent to show gradient */
    text-align: center;
    font-family: "Rubik Mono One", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: calc(3.5vh + 1vw);
    text-transform: uppercase;
    padding-top: 2px;
    margin: 0;
    margin-left: 20px; /* Shift text to the right */
}
.square img:nth-child(4) {
    max-width: 50%; /* Match size for consistency */
    height: auto;
    border-radius: 5px;
    position: absolute; /* Position relative to .square */
    right: -10px; /* Align close to the right edge */
    top: 45%; /* Keep vertically centered */
    transform: translateY(-50%); /* Center vertically */
}
.panel-icon {
    height: auto;
    position: absolute;
    top: 20%;
    transform: translateY(-50%);
    cursor: pointer; /* Indicate clickability */
    max-width: 80px;
}
.panel img:nth-child(1) {
    left: 10%;
}
.panel img:nth-child(2) {
    right: 12%;
}
.hidden {
    display: none;
}
.panel p {
    color: #ffffff;
    font-size: 25px;
    text-align: center;
    font-family: "Rubik Mono One", monospace;
    font-weight: 400;
    font-style: normal;
    position: absolute;
    top: 23%;
    left: 10%;
    transform: translate(-10%, 20%);
    cursor: pointer;
    z-index: 2;
    width: 100px; /* Фиксированная ширина */
    min-width: 100px; /* Минимальная ширина */
    max-width: 100px; /* Максимальная ширина */
    white-space: nowrap; /* Предотвращает перенос текста */
    overflow: hidden; /* Скрывает переполнение */
    text-overflow: ellipsis; /* Добавляет многоточие при переполнении */
}

.cristal {
    display: none;
}
.cristal img {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    z-index: 2;
}
.cristal h1{ 
    color: #ffffff;  
    text-align: center;
    font-family: "Rubik Mono One", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: calc(3.5vh + 1vw);
    text-transform: uppercase;
    padding-top: 40vh;
    margin: 0;
    z-index: -1;
}

.claimable {
    width: 140px; /* или подбери по вкусу */
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Rubik Mono One', monospace;
    background: linear-gradient(135deg, #6e8efb, #a777e3);
    color: #ffffff;
    padding: 8px 45px;
    border: none;
    border-radius: 8px;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
    letter-spacing: 1px;
    position: absolute; /* Position the button absolutely within .square */
    bottom: 10px; /* Distance from the bottom of .square */
    left: 50%; /* Center horizontally */
    transform: translateX(0%); /* Adjust to center the button horizontally */
    z-index: 2; /* Ensure button is clickable */
}
.completed {
    width: 140px; /* или подбери по вкусу */
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Rubik Mono One', monospace;
    background: linear-gradient(135deg, #6e8efb, #a777e3);
    color: #ffffff;
    padding: 8px 45px;
    border: none;
    border-radius: 8px;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
    letter-spacing: 1px;
    position: absolute; /* Position the button absolutely within .square */
    bottom: 10px; /* Distance from the bottom of .square */
    left: 50%; /* Center horizontally */
    transform: translateX(0%); /* Adjust to center the button horizontally */
    z-index: 3; /* Ensure button is clickable */
}

/* Desktop styles */
@media screen and (max-width: 736px) {
    body {   
        background-color: #000000;  
        overflow-y: auto; /* Enable scrolling */
        height: 180vh; /* Increased height for longer page */
        margin: 0; /* Remove default margin */
        -webkit-overflow-scrolling: touch; /* Smooth scrolling on mobile */
    }
    body::-webkit-scrollbar {
        display: none; /* Hide scrollbar for Chrome, Safari, Edge */
    }
    body {
        -ms-overflow-style: none; /* Hide scrollbar for IE and Edge */
        scrollbar-width: none; /* Hide scrollbar for Firefox */
    }
    h1 {  
        color: #ffffff;  
        text-align: center;
        font-family: "Rubik Mono One", monospace;
        font-weight: 400;
        font-style: normal;
        font-size: calc(3.5vh + 1vw);
        text-transform: uppercase;
        padding-top: 50px;
        margin: 0;
    }  
    p {  
        color: #ffffff;  
        font-size: calc(1vh + 0.8vh);  
        text-align: center; 
        font-family: "Raleway", sans-serif;
        font-optical-sizing: auto;
        font-weight: 300;
        font-style: normal; 
    }
    .square-container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 20px;
        padding: 20px;
        z-index: 1;
    }
    .square {
        width: calc(25vh + 1vh);
        height: calc(30vh + 1vh);
        background-color: #ffffff;
        border-radius: 20px;
        z-index: 2;
        position: relative; /* Added to establish a positioning context for the button */
    }
    .square button {
        font-family: 'Rubik Mono One', monospace;
        background: linear-gradient(135deg, #6e8efb, #a777e3);
        color: #ffffff;
        padding: 8px 45px;
        border: none;
        border-radius: 8px;
        font-size: 14px;
        cursor: pointer;
        transition: all 0.3s ease;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
        text-transform: uppercase;
        letter-spacing: 1px;
        position: absolute; /* Position the button absolutely within .square */
        bottom: 10px; /* Distance from the bottom of .square */
        left: 50%; /* Center horizontally */
        transform: translateX(-50%); /* Adjust to center the button horizontally */
        z-index: 2;
    }
    .claimable {
        width: 140px; /* или подбери по вкусу */
        text-align: center; 
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Rubik Mono One', monospace;
        background: linear-gradient(135deg, #6e8efb, #a777e3);
        color: #ffffff;
        padding: 8px 45px;
        border: none;
        border-radius: 8px;
        font-size: 14px;
        cursor: pointer;
        transition: all 0.3s ease;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
        text-transform: uppercase;
        letter-spacing: 1px;
        position: absolute; /* Position the button absolutely within .square */
        bottom: 10px; /* Distance from the bottom of .square */
        left: 50%; /* Center horizontally */
        transform: translateX(0%); /* Adjust to center the button horizontally */
        z-index: 2; /* Ensure button is clickable */
    }
    .completed {
        width: 140px; /* или подбери по вкусу */
        text-align: center; 
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Rubik Mono One', monospace;
        background: linear-gradient(135deg, #6e8efb, #a777e3);
        color: #ffffff;
        padding: 8px 45px;
        border: none;
        border-radius: 8px;
        font-size: 14px;
        cursor: pointer;
        transition: all 0.3s ease;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
        text-transform: uppercase;
        letter-spacing: 1px;
        position: absolute; /* Position the button absolutely within .square */
        bottom: 10px; /* Distance from the bottom of .square */
        left: 50%; /* Center horizontally */
        transform: translateX(0%); /* Adjust to center the button horizontally */
        z-index: 3; /* Ensure button is clickable */
    }
}
/* Desktop styles */
@media screen and (max-width: 568px) {
    body {   
        background-color: #000000;  
        overflow-y: auto; /* Enable scrolling */
        height: 160vh; /* Increased height for longer page */
        margin: 0; /* Remove default margin */
        -webkit-overflow-scrolling: touch; /* Smooth scrolling on mobile */
    }
    body::-webkit-scrollbar {
        display: none; /* Hide scrollbar for Chrome, Safari, Edge */
    }
    body {
        -ms-overflow-style: none; /* Hide scrollbar for IE and Edge */
        scrollbar-width: none; /* Hide scrollbar for Firefox */
    }
    h1 {  
        color: #ffffff;  
        text-align: center;
        font-family: "Rubik Mono One", monospace;
        font-weight: 400;
        font-style: normal;
        font-size: calc(3.5vh + 1vw);
        text-transform: uppercase;
        padding-top: 50px;
        margin: 0;
    }  
    p {  
        color: #ffffff;  
        font-size: calc(1vh + 0.8vh);  
        text-align: center; 
        font-family: "Raleway", sans-serif;
        font-optical-sizing: auto;
        font-weight: 300;
        font-style: normal; 
    }
    .square-container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 20px;
        padding: 20px;
        z-index: 1;
    }
    .square {
        width: calc(20vh + 1vh);
        height: calc(25vh + 1vh);
        background-color: #ffffff;
        border-radius: 20px;
        z-index: 2;
        position: relative; /* Added to establish a positioning context for the button */
    }
    .square button {
        font-family: 'Rubik Mono One', monospace;
        background: linear-gradient(135deg, #6e8efb, #a777e3);
        color: #ffffff;
        padding: 8px 40px;
        border: none;
        border-radius: 8px;
        font-size: 12px;
        cursor: pointer;
        transition: all 0.3s ease;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
        text-transform: uppercase;
        letter-spacing: 1px;
        position: absolute; /* Position the button absolutely within .square */
        bottom: 10px; /* Distance from the bottom of .square */
        left: 50%; /* Center horizontally */
        transform: translateX(-50%); /* Adjust to center the button horizontally */
        z-index: 2;
    }
    .claimable {
        width: 140px; /* или подбери по вкусу */
        text-align: center; 
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Rubik Mono One', monospace;
        background: linear-gradient(135deg, #6e8efb, #a777e3);
        color: #ffffff;
        padding: 8px 45px;
        border: none;
        border-radius: 8px;
        font-size: 14px;
        cursor: pointer;
        transition: all 0.3s ease;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
        text-transform: uppercase;
        letter-spacing: 1px;
        position: absolute; /* Position the button absolutely within .square */
        bottom: 10px; /* Distance from the bottom of .square */
        left: 50%; /* Center horizontally */
        transform: translateX(0%); /* Adjust to center the button horizontally */
        z-index: 2; /* Ensure button is clickable */
    }
    .completed {
        width: 140px; /* или подбери по вкусу */
        text-align: center; 
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Rubik Mono One', monospace;
        background: linear-gradient(135deg, #6e8efb, #a777e3);
        color: #ffffff;
        padding: 8px 45px;
        border: none;
        border-radius: 8px;
        font-size: 14px;
        cursor: pointer;
        transition: all 0.3s ease;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
        text-transform: uppercase;
        letter-spacing: 1px;
        position: absolute; /* Position the button absolutely within .square */
        bottom: 10px; /* Distance from the bottom of .square */
        left: 50%; /* Center horizontally */
        transform: translateX(0%); /* Adjust to center the button horizontally */
        z-index: 3; /* Ensure button is clickable */
    }
}

/* Для экранов меньше 560px */
@media screen and (max-width: 559.98px) {
    body {
        height: 160vh;
    }
}

/* Для экранов меньше 420px */
@media screen and (max-width: 419.98px) {
    body {
        height: 280vh;
    }
}
